// name: _overrides.scss
// contains: overrides for library (bulma) styling, removes unnecessary margin
// or incorrect alignment from lib files by overriding them.
// imports: n/a
// goes to: _main.scss

.navbar-brand, .navbar-tabs {
    align-items: center;
}
.columns {
    width: 80%;
    margin-top: 50px;
    .column {
        // border: 1px solid red;
    }
}
// .navbar-item {
//     display: none;
// }

.flickity-enabled {
    width: 100%;
}
.flickity-viewport {
    height: 275px !important;
}