// name: _overrides.scss
// contains: overrides for library (bulma) styling, removes unnecessary margin
// or incorrect alignment from lib files by overriding them.
// imports: n/a
// goes to: _main.scss

.navbar-brand,
.navbar-tabs {
  align-items: center;
}
.columns {
  width: 80%;
  margin-top: 50px;
}

.flickity-enabled {
  width: 100%;
}
.flickity-viewport {
  height: 275px !important;
}

.box {
  height: 200px !important;
  width: 375px !important;
  p {
    font-size: 16px;
  }
}

.card {
  max-width: 400px;
}

.footer {
  transition: 300ms;
}
/* blog.css styles from bulma blog template */

.hero-body {
  // background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Plum_trees_Kitano_Tenmangu.jpg/1200px-Plum_trees_Kitano_Tenmangu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 500px;
}
.articles {
  margin: 5rem 0;
  // margin-top: -200px;
}
.articles .content p {
  line-height: 1.9;
  margin: 15px 0;
}
.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid #ccc;
  border-radius: 50%;
  background: darkgrey;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  // margin-top: 3rem;
}
.article,
.promo-block {
  margin-top: 6rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  color: #909aa0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}
.promo-block .container {
  margin: 1rem 5rem;
}
/* ^^ blog.css styles from bulma blog template */

.columns {
  width: 100%;
  // align-content: center;
  // display: flex;
}

@media screen and (max-width: 800px) {
  .columns {
    width: 100%;
    align-content: center;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .columns {
    margin-left: 0;
  }
}
