@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import "main.scss";

// name: global.scss
// contains: top level all app styling eg. no margin on <ul> or <p> tags.
// imports: main.scss [and all other module stylings]
// goes to: App.tsx
* {
  // cursor: none;
  // border: 1px solid red;
}

// .cursor {
//   // display: none;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   background-color: orange;
//   pointer-events: none !important;
//   position: absolute;

//   transform: translate(-50%, -50%);
//   transition: all 0.2 ease;
//   transition-property: background, border, transform;
//   transform-origin: 150% 150%;
//   z-index: 999;
//   @include sm {
//     display: inherit;
//   }
// }

body {
  height: 100vh;
  // cursor: none !important;
}

a {
  // cursor: none !important;
}
a:hover {
  // cursor: none !important;
}

#__next {
  height: 100%;
}
#bg {
  clip-path: polygon(0 0, 100% 0, 18% 100%, 0% 100%);
  background-color: map-get($map: $theme_map, $key: bold);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
h1,
h2,
h3,
h4,
h5,
p {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: black;
}
label {
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.flex-col {
  display: flex;
  flex-direction: column !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.product-ctas {
  max-width: 500px;
}

main h1 {
  font-family: "Dancing Script", cursive;
  color: orange;
  font-size: 9vh;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-content: center;
  height: auto;
}

.home__three_words_container {
  h2:nth-child(1) {
    font-size: 5rem;
    color: white;
  }
  h2:nth-child(2) {
    font-size: 5rem;
    color: grey;
  }
  h2:nth-child(3) {
    font-size: 5rem;
    color: white;
  }
}

p {
  color: black;
  font-size: 37px;
  font-display: swap;
  @include tiny {
    font-family: Merriweather, Arial, sans-serif;
  }

  @include sm {
    // border: 10px solid red;
  }

  @include md {
  }

  @include lg {
    // border: 5px solid purple;
  }
}

a:hover {
  color: rgb(77, 75, 75);
}

.about__page {
  section:nth-child(1) {
    height: auto;
  }
  @include md {
    margin-bottom: 56px;
  }
}
.about__content {
  margin-top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  // border: 3px solid blue;
  @include md {
    flex-direction: row !important;
    // border: 3px solid red;
    justify-content: center;
  }
  .about__title_and_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tiny {
      flex-direction: column-reverse;
    }
    @include sm {
      flex-direction: column;
    }
    @include md {
      justify-content: flex-start;
    }
  }
  @include sm {
    margin-top: 0px;
  }
  @include md {
    margin-top: 50px;
  }
  .img__poly_container {
    position: relative;
    .about__polygon_mob {
      height: 18%;
      @include tiny {
        opacity: 0;
        z-index: -1;
        position: absolute;
        height: 107%;
        top: -22px;
        left: -22px;
        width: 117%;
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        background: #f8a203;
      }
      @include md {
        display: none;
      }
    }
    img {
      max-width: 100%;
      @include tiny {
        max-width: 100%;
      }
      @include sm {
        max-width: 386px;
      }
      @include md {
        border-radius: 25px;
      }
    }
  }
  h1 {
    font-family: "Dancing Script", cursive;
    color: orange;
    @include tiny {
      margin-top: 30px;
    }
    @include sm {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  p {
    font-size: 24px;
    line-height: 1.6;
    color: dimgrey;
  }
  p:nth-child(5) {
    background: orange;
    color: white;
    padding: 20px;
    transform: skewY(-2deg);
    strong {
      color: lightgrey;
    }
  }
}

.contact__page {
  height: auto;
  width: 100%;
  margin-bottom: 150px;
  .contact__content {
    width: 100%;
    height: auto;
    @include tiny {
      flex-direction: column;
    }
    @include md {
      flex-direction: row;
    }
    .column {
      h1 {
        font-family: "Dancing Script", cursive;
        color: orange;
      }
    }
    .contact__svg_container {
      align-items: center;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      svg {
        margin-top: 40px;
      }
      .svg__line {
        height: 5px;
        width: 0;
        background-color: grey;
        margin-top: 30px;
      }
    }
  }
}

.fadeInSpinner {
  opacity: 0;
}

.blog__page {
  main {
    section {
      align-items: center !important;
    }
  }
}

.blog__home {
  main {
    .blogs__section {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;

      .blog__home__top__banner {
        margin-bottom: 30px;
      }

      .blog__home__blogs__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .columns {
        justify-content: space-evenly;
      }
    }
  }
}

.blog__article {
  .hero {
    h1 {
      font-size: 3rem;
      font-weight: 300;
      color: white;
    }
  }
  .card {
    max-width: 100%;

    .media {
      .blog__main-img {
        img {
          max-width: 527px;
        }
      }
    }
    .block-img {
      display: flex;
      justify-content: center;
      img {
        box-shadow: 5px 5px 10px;
        @include tiny {
          width: 332px;
          height: 218px;
          max-width: none;
          padding: 10px;
        }
        @include md {
          width: auto;
          max-width: 100%;
          height: auto;
          padding: 10px;
        }
      }
    }
    .responsive-card-author {
      @include tiny {
        margin-top: 1rem;
      }
    }

    .article-body {
      ul {
        margin-left: 0;
        li {
          font-family: Merriweather, Arial, sans-serif;
          strong {
            font-weight: normal;
            color: grey;
            font-family: monospace;
            background: #ffa5005c;
          }
          @include tiny {
            margin-bottom: 16px;
          }
          @include md {
            margin-bottom: 5px;
          }
        }
      }
      @include tiny {
        margin: 5px 10px;
      }

      .blog__article__svg_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 150px;
          width: 150px;
        }
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 30px;
      overflow-wrap: break-word;
      strong {
        font-weight: normal;
        color: grey;
        font-family: monospace;
        background: #ffa5005c;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    p:nth-child(16),
    p:nth-child(25),
    p:nth-child(34),
    p:nth-child(42) {
      font-family: Arial;
      background-color: orange;
      color: white;
      transform: skewY(-2deg);
      padding: 15px;
      text-align: center;
      a {
        color: black;
      }
    }
    h2 {
      margin-bottom: 30px;
      color: orange;
    }
    ol li {
      @include tiny {
        overflow-wrap: break-word;
      }
    }
    ul,
    pre,
    ol {
      margin-bottom: 30px;
    }
    .article-title:nth-child(1) {
      // color: red;
      font-size: 2rem;
      // margin-bottom: 0;
      font-weight: 300;
    }
  }
}

.rocket-section {
  height: 100vh;
}
.portfolio-section {
  height: auto;
  padding: 50px 20px;
  display: flex;
  align-items: center;
}
.color-smoke-section {
  height: auto;
  padding: 50px 20px;
}

.contact-section {
  width: 90%;
}

.about-section {
  display: flex;
  justify-content: center;
}

.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.signup__title-section,
.signup__msg-section {
  height: auto;
  padding: 30px;
}

.searchAndFilters__container {
  // margin-top: 30px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px;
  padding-bottom: 0;
  @include tiny {
    width: 80vw;
  }
  @include sm {
    width: 80vw;
  }
  @include md {
    width: 70vw;
  }
}

.card-image figure {
  contain: content;
}
.card-image img {
  transition: 0.5s ease-out;
}

.card-image img:hover {
  transform: rotateZ(-2deg);
  transform: scale(1.2);
}

body::-webkit-scrollbar {
  width: 25px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 25px;
  // outline: 3px solid black;
}

// .article {
//   margin: 32px 0;
// }
#disqus_thread {
  margin-top: 10px;
}
.placeholder-box {
  max-width: 300px;
  height: 250px;
  background: #ddd;
}

.blog__article p > a {
  color: orange;
  font-weight: bold;
}

.page__wrapper {
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  overflow: none;
  // border: 1px solid red;
  flex-direction: column;
  align-items: center;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.podcast__image {
  width: 95%;
  @include md {
    width: 45%;
  }
}

.carousel__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include md {
    flex-direction: row;
  }

  .panel {
    contain: content;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 95vw;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 50px;
    flex: 0.5;
    // cursor: pointer;
    transition: flex 0.3s ease-out;
    @include md {
      width: 20vw;
    }
    h3 {
      font-family: Merriweather, Arial, sans-serif;
      position: absolute;
      font-size: 24px;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
      color: white;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .panel.active {
    flex: 1;
    @include md {
      // transition: width 0.3s ease-out;
      width: 50vw;
    }
    h3 {
      opacity: 1;
      padding: 10px;
      transition: opacity 0.3s ease-in 0s;
    }
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    @include md {
      display: none !important;
    }
  }
}

.podcast__socials_container {
  margin-top: 20px;
  margin-bottom: 20px;
  .podcast__socials_ul {
    display: flex;
    flex-direction: row;
    li {
      font-size: 15px;
      color: orange;
      margin: 5px;
    }
  }
}
.podcast__shows_section {
  display: flex;
  justify-content: center;
  .podcast__shows__container {
    display: flex;
    flex-direction: column;
    width: 95%;
    // border: 1px solid red;
    justify-content: center;
    align-items: center;
    @include md {
      width: 65%;
    }
    .show__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      background-color: #fff;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
      color: #4a4a4a;
      min-height: 140px;
      padding: 20px 20px;
      @include sm {
        width: 400px;
      }
      @include md {
        width: 600px;
        padding: 20px 20px;
      }
      a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .podcast__guest_photo {
      width: 90px;
      height: 90px;
      max-width: 90px;
      max-height: 90px;
      border-radius: 50px;
      border: 2px solid orange;
    }
    .show__card:first-child {
      margin-top: 0px;
    }
    .show__card:last-child {
      margin-bottom: 50px;
    }
    p.podcast__shows_title {
      color: grey;
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      @include md {
        font-size: 20px;
      }
    }
    .podcast__shows_descr_container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p.podcast__shows_descr {
      color: darkgrey;
      text-align: start;
      font-size: 14px;
      @include md {
        width: 75%;
      }
    }
  }
}

.podcast__info {
  width: 90vw;
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  h2 {
    color: orange;
    font-size: 25px;
    background: black;
    transform: skewY(-2deg);
    padding: 10px;
    font-weight: bold;
  }
  h4 {
    color: lightgrey;
  }
  img {
    height: 90px;
    width: 90px;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50px;
    border: 3px solid orange;
  }
  p {
    font-size: 16px;
    color: grey;
  }
}
.grayscale {
  filter: grayscale(1);
}
.rounded {
  border-radius: 50px;
}

.border-orange {
  border: 2px solid orange;
}

.border-grey {
  border: 2px solid grey;
}

.w-100 {
  width: 100vw;
}

.product__wrapper {
  img {
    max-width: 95vw;
  }
}
.products__stackable_cubes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
