@import 'main.scss';

// name: global.scss
// contains: top level all app styling eg. no margin on <ul> or <p> tags.
// imports: main.scss [and all other module stylings]
// goes to: App.tsx

// * {
// border: 1px solid red;
// }

body {
	height: 100vh;
}

#__next {
	height: 100%;
}
#bg {
	clip-path: polygon(0 0, 100% 0, 18% 100%, 0% 100%);
	background-color: map-get($map: $theme_map, $key: bold);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

a {
	text-decoration: none;
	color: black;
}
main h1 {
	font-family: 'Dancing Script', cursive;
	color: orange;
	font-size: 9vh;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	align-content: center;
	height: auto;
	// margin-top: 50px;
	// margin-bottom: 50px;
}

section {
	height: 90vh;
	width: 100vw;
	// background-color: orangered;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	h2 {
		color: white;
		text-align: center;
	}
}

section:nth-child(1) {
	background-color: white;
	align-items: start;
}

section:nth-child(3) {
	background-color: grey;
	height: 100vh;
}

.home__three_words_container {
	h2:nth-child(1) {
		font-size: 5rem;
		color: white;
	}
	h2:nth-child(2) {
		font-size: 5rem;
		color: grey;
	}
	h2:nth-child(3) {
		font-size: 5rem;
		color: white;
	}
}

p {
	color: black;
	font-size: 37px;

	@include tiny {
		// border: 5px solid blue;
	}

	@include sm {
		// border: 10px solid red;
	}

	@include lg {
		// border: 5px solid purple;
	}
}

a:hover {
	color: rgb(77, 75, 75);
}

.about__page {
	section:nth-child(1) {
		height: auto;
	}
	@include md {
		margin-bottom: 56px;
	}
}
.about__content {
	margin-top: 0px;
	z-index: 1;
	.about__title_and_picture {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include tiny {
			flex-direction: column-reverse;
		}
		@include sm {
			flex-direction: column;
		}
		@include md {
			justify-content: flex-start;
		}
	}
	@include sm {
		margin-top: 0px;
	}
	@include md {
		margin-top: 50px;
	}
	.img__poly_container {
		position: relative;
		.about__polygon_mob {
			height: 18%;
			@include tiny {
				opacity: 0;
				z-index: -1;
				position: absolute;
				height: 107%;
				top: -22px;
				left: -22px;
				width: 117%;
				-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
				clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
				background: #f8a203;
			}
			@include md {
				display: none;
			}
		}
		img {
			max-width: 100%;
			@include tiny {
				max-width: 100%;
			}
			@include sm {
				max-width: 386px;
			}
			@include md {
				border-radius: 25px;
			}
		}
	}
	h1 {
		font-family: 'Dancing Script', cursive;
		color: orange;
		@include tiny {
			margin-top: 30px;
		}
		@include sm {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
	p {
		font-size: 24px;
		line-height: 1.6;
		color: dimgrey;
	}
	p:nth-child(5) {
		background: orange;
		color: white;
		padding: 20px;
		transform: skewY(-2deg);
		strong {
			color: lightgrey;
		}

	}
}

.contact__page {
	height: auto;
	width: 100%;
	margin-bottom: 150px;
	.contact__content {
		// border: 1px solid red;
		width: 100%;
		height: auto;
		.column {
			// border: 1px solid green;
			// min-height: 100%;
			h1 {
				font-family: 'Dancing Script', cursive;
				color: orange;
			}
		}
	}
}

.fadeInSpinner {
	opacity: 0;
}

.blog__page {
	main {
		section {
			align-items: center !important;
		}
	}
}

.blog__home {

	main {
		section {
			display: flex;
			justify-content: center;
	
			height: auto;
	
			.blog__home__top__banner {
				margin-bottom: 30px;
			}
	
			.blog__home__blogs__container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
			}
			.columns {
				justify-content: space-evenly;
			}
		}
	}

}

