@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Sans+Pro:wght@200&display=swap");
@import "../../scss/main";

.clientBox {
  text-align: center;
  //   margin: 20px;
  height: 250px;
  width: 350px;

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; /* Animate the transform properties */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */

  @include tiny {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  //   @include sm {
  //     margin-top: 20px;
  //     margin-bottom: 20px;
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  @include md {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  // @include lg {

  // }
  // @include xl {

  // }

  .firstSide,
  .secondSide {
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);

    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, 0.3),
      0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0 5px 20px rgba(105, 108, 109, 0.3),
      0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
    height: 250px;
  }
  .firstSide {
    -webkit-transform: translateZ(125px);
    transform: translateZ(125px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      // opacity: 0.8;
      transition: 0.7s;
      // filter: grayscale(100%);
    }

    .clientBoxInfo {
      position: absolute;
      background: white;
      height: 50%;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;

      h4 {
        font-size: 22px;
        color: dimgrey;
        margin-top: -1px;
        font-family: "Russo One", sans-serif;

        @include tiny {
          font-size: 30px;
          // margin-top: 27px;
        }
      }
      p {
        color: black;
        margin-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 0.9;
        font-size: 17px;
        font-family: "Source Sans Pro", sans-serif;
      }
      .builtWith {
        // margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        p {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 12px;
          margin-top: 5px;
        }
        .flexRow {
          display: flex;
          flex-direction: row;
          svg {
            height: 35px;
            width: 35px;
            background: gainsboro;
            transform: skewY(-1deg);
            margin-left: 10px;
            border-radius: 50%;
            padding: 5px;
            @include tiny {
              height: 55px;
              width: 55px;
            }
          }
        }
      }
    }
  }
  .secondSide {
    -webkit-transform: rotateX(-90deg) translateZ(-125px);
    transform: rotateX(-90deg) translateZ(-125px);
    position: relative;
    display: flex;
    overflow: hidden;
    .moreInfo {
      position: absolute;
      background: white;
      height: 50%;
      width: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      box-shadow: 4px -3px 21px 25px white;

      p {
        color: black;
        margin-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 0.9;
        font-size: 17px;
        font-family: "Source Sans Pro", sans-serif;
      }
    }
    img {
      position: absolute;
      width: 100%;
      transition: 0.7s;
      bottom: -42px;
      box-shadow: 4px -3px 21px 25px white;
    }
  }
}

.clientBox:hover {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg); /* Text bleed at 90º */
}

// .svgWrapper {
// 	opacity: 0;
// 	position: relative;
// 	border: 3px solid red;
// }

// .svgTitleWrapper {
// 	opacity: 0;
// 	@include tiny {
// 		position: absolute;
// 		margin-top: 238px;
// 	}
// 	@include sm {
// 		margin-bottom: 70px;
// 	}
// }

// .svgTitle {
// 	font-size: 8vh;
// 	color: grey;
// 	font-weight: bold;
// 	line-height: 0.6;
// 	background: gainsboro;
// 	padding: 20px;
// 	transform: skewY(-2deg);
// }
