@import "../../scss/main";

.commentsContainer {
  width: 90%;
  padding: 10px;
  @include md {
    width: 50%;
  }
}

#disqus_thread {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
}
