@import "../../scss/main";

.podcast__show_page#podcastShowPage {
  width: 90vw;
  max-width: 90vw;
  height: auto;
  padding: 30px 20px;
  // padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include md {
    width: 66vw;
    max-width: 66vw;
  }
  p {
    font-size: 25px;
  }
  p:nth-child(1) {
    color: grey;
    font-size: 16px;
    @include md {
      font-size: 20px;
      max-width: 60%;
    }
  }
  p:nth-child(3) {
    color: orange;
    font-size: 16px;
    opacity: 0.6;
    @include md {
      font-size: 20px;
      max-width: 60%;
    }
  }
  .podcast__show_img {
    border-radius: 50px;
    border: 3px solid orange;
    margin-bottom: 30px;
  }
  .podcast__show_title {
    margin-bottom: 30px;
  }
  .podcast__show_description {
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: grey;
      text-align: start;
      font-size: 12px;
    }
  }
}

// HACK remove and isolate socials as their own reuseable component
.podcast__show__socials {
  // border: 3px solid red;
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  a {
    // border: 1px solid red;
    height: 40px;
    width: 40px !important;
    img {
      height: 40px;
      //   border: 1px solid red;
    }
  }
  a:nth-child(3) {
    // border: 8px solid blue;
    img {
      width: 70px;
    }
  }
}

.podcast__show__youtube {
  contain: content;
  width: 89vw;
  height: 250px;
  @include md {
    width: 500px;
    height: 350px;
  }
  iframe {
    width: 100%;
    height: 100%;
    @include md {
      width: 100%;
      height: 100%;
    }
  }
}
