@import "../../scss/main";

.podcast_player__episodeTitleDescription {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  border-radius: 12px;
  background: lightgrey;
  padding: 0px 10px;
  transition: 0.3s ease-in-out 0.3s;

  @include tiny {
    display: flex;
    // border: 1px solid red;
    bottom: 14px;
    right: 27%;
    h4 {
      color: white;
    }
    h5 {
      display: none;
    }
  }
  @include sm {
    // border: 1px solid blue;
    right: 34%;
  }
  @include md {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    height: 84px;
    right: -23px;
    top: -4px;
    padding: 10px;
    // z-index: 5;
    max-width: 24%;
    // background: lightgrey;
    // border-radius: 12px;
    h4 {
      font-weight: bold;
      line-height: 1.1;
      color: white;
    }
    h5 {
      line-height: 1.1;
      font-size: 10px;
      display: none;
    }
  }
  @include lg {
    right: 0px;
    max-width: 30%;
    right: -80px;
    h4 {
    }
    h5 {
      margin-top: 5px;
      display: flex;
    }
  }
}

.showInfo {
  opacity: 1;
}

.hideInfo {
  opacity: 0;
}
