@import "../../scss/main";

.podcast_player__box_shadow {
  height: auto;
  width: auto;
  box-shadow: 0 5px 20px rgba(105, 108, 109, 0.3),
    0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  background: white;

  height: auto;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 5px 20px rgba(105, 108, 109, 0.3),
    0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  background: white;

  .podcast_player__container {
    position: relative;
    width: 85vw;
    min-width: 85vw;
    max-width: 85vw;
    height: 180px;

    @include md {
      max-width: 750px;
      min-width: 300px;
    }

    /* skewed orange background box */
    .podcast_player__skewedBox {
      position: absolute;
      width: 100%;
      max-width: 749.5px;
      height: 100%;
      transition: 0.3s;
      transform: skewY(4deg);
      background: rgb(248, 180, 54);
    }
    .podcast_player__skewedBox:hover {
      background: rgb(245, 210, 144);
    }

    /* main grey box */
    .podcast_player__mainBox {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      transform: skewY(0deg);
      display: flex;
      justify-content: center;
      align-items: center;

      /* all content that exists inside the grey box */
      .podcast_player__content_container {
        width: 90%;
        height: 90%;
        max-width: 674.5px;
        background: lightgrey;

        /* audio levels animation, bottom right */
        .audioLevelsContainer {
          z-index: 5;
          position: absolute;
          height: 50px;
          bottom: 10px;
          right: 20px;
          display: flex;
          transform: rotate(180deg);
          @include sm {
            right: 37px;
          }
          @include md {
            right: 45px;
          }
          div {
            display: flex;
            flex-direction: row;
            justify-content: right;
            span {
              width: 7px;
              height: 55px;
              transition: 0.3s ease-out;
              background-color: grey;
            }
          }
        }
      }
      /* the background sound wav image */
      .podcast_player__wavBackgroundImg {
        width: 80%;
        position: absolute;
        height: 77%;
        background-image: url(https://image.freepik.com/free-vector/sound-wave-with-imitation-sound-audio-identification-technology_106065-64.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        transform: scale(1.1);
      }
    }
    .podcast_player__bottomSocialsContainer {
      position: absolute;
      bottom: -27px;
      @include md {
        bottom: -27px;
      }
    }
  }
}
