
@import "../../scss/main";

.footer {
	background-color: #ffdd57;
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100vw;
	padding: 10px 30px;
	border-top: 0.2px solid lightgrey;
	border-width: 60%;
	border: 4px solid black;
	height: auto;
	transition: .2s;
	opacity: 1;
	@include bounce(rotate(-1deg));

	p {
		color: $text-colour;
		border: 1px solid $border-dark;
		font-size: 9px;
		display: none;
		// @include sm {
		// 	display: inline;
		// }
	}
	.footerSocialsContainer {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		svg {
			width: 30px;
			height: 30px;
			min-width: 30px;
			max-width: 30px;
			min-height: 30px;
			max-height: 30px;

		}
	}
}

.flexFooterRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.flexFooterCol {
	display: flex;
	flex-direction: column;
	h4 {
		font-size: 23px;
	}
	p {
		font-size: 9px;
	}
	@include md {
		p {
			font-size: 15px;
		}
	}
}