@import "../../scss/main";

.footer {
  background-color: white;
  bottom: 0;
  position: fixed;
  z-index: 5;
  left: 0;
  width: 100vw;
  padding: 10px 30px;
  border-top: 0.2px solid lightgrey;
  border-width: 60%;
  // border: 4px solid black;
  height: auto;
  transition: 0.2s;
  opacity: 1;
  // border: 3px solid red;
  @include bounce(rotate(-1deg));

  p {
    color: $text-colour;
    border: 1px solid $border-dark;
    font-size: 9px;
    display: none;
  }
  .footerSocialsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    svg {
      width: 30px;
      height: 30px;
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
    }
  }
}

.flexFooterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexFooterCol {
  // border-top: 1px solid black;
  // margin-top: 20px;
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 23px;
  }
  p {
    color: grey;
    font-size: 9px;
    margin-bottom: 6px !important;
    font-family: Arial, sans-serif;
  }
  a {
    color: grey;
    font-size: 9px;
    margin-bottom: 6px !important;
    font-family: Arial, sans-serif;
  }
  @include md {
    p {
      font-size: 15px;
    }
    a {
      font-size: 15px;
      // margin-bottom: 6px !important;
    }
  }
}
