@import "../../scss/main";

.orange_section {
    height: 100vh;
    width: 100vw;
    background-color: white;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    @include sm {
        flex-direction: row;
        // border: 3px solid purple
    }

}

.firstCol {
    width: 50%;
    height: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sm {
        height: 100%;
    }
}

.secondCol {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.svgWrapper {
    opacity: 0;
}

.svgTitleWrapper {
    opacity: 0;
    @include sm {
        margin-bottom: 70px;
    }
}

.svgTitle {
    font-size: 8vh;
    color: grey;
    font-weight: bold;
    line-height: 0.6;
    background: gainsboro;
    padding: 20px;
    transform: skewY(-2deg);
}