@import "../../scss/main";

.socialsVerticalContainer {
  height: 400px;
  width: 90px;
  position: fixed;
  left: 30px;
  bottom: 150px;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include md {
    display: flex;
  }
  .svgContainer {
    width: 70px;
    height: 70px;
    opacity: 0;
    svg {
      width: 70px;
      height: 70px;
    }
  }
}
